@{
    ViewData["Title"] = "Добро пожаловать!";
}

<h1>Развлекайтесь! :)</h1>
<h2 >Предупреждение! Все книги и их авторы вымышлены! Все совпадения случайны и разработчик не имеет цели оскорбить чью-то честь и достоинство!</h2>
