@model ErrorViewModel
@{
    ViewData["Title"] = "Ашибка блять";
}

<h1 class="text-danger">Ошибка.</h1>
<h2 class="text-danger">При обработке запроса что-то наебалось.</h2>

@if (Model.ShowRequestId)
{
    <p>
        <strong>Request ID:</strong> <code>@Model.RequestId</code>
    </p>
}
